.big__button {
	font-size: 1.1em;
	transition: color 100ms;
	cursor: pointer;
	margin: 10px 0;
	/* margin-left: 29px; */
	background: var(--start);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	border-radius: 4px;
	transition: background 100ms;
}

.big__button:hover {
	background: var(--highlight-100);
}
