.grid__row {
	display: flex;
}

.grid__node {
	width: 50px;
	height: 50px;
	border-top: 1px solid var(--wall);
	border-left: 1px solid var(--wall);
}

.grid__row .grid__node:last-child {
	border-right: 1px solid var(--wall);
}

.grid__row:last-child .grid__node {
	border-bottom: 1px solid var(--wall);
}

.grid__row:first-child .grid__node:first-child {
	border-radius: 8px 0 0 0;
}

.grid__row:first-child .grid__node:last-child {
	border-radius: 0 8px 0 0;
}

.grid__row:last-child .grid__node:first-child {
	border-radius: 0 0 0 8px;
}

.grid__row:last-child .grid__node:last-child {
	border-radius: 0 0 8px 0;
}

.colour__wall {
	background: var(--wall);
}

.colour__open {
	background: var(--open);
}

.colour__closed {
	background: var(--closed);
}

.colour__path {
	background: var(--path);
}

.colour__start {
	background: var(--start);
}

.colour__goal {
	background: var(--goal);
}

.colour__current {
	background: var(--current);
}
