.radio__buttons {
	margin-left: 29px;
	background: var(--background-100);
	padding: 5px;
	width: max-content;
	border-radius: 4px;
}

.radio__buttons ul {
	display: flex;
	list-style: none;
}

.radio__buttons li {
	padding: 5px 10px;
	margin-right: 5px;
	border-radius: 4px;
	cursor: pointer;
	transition: background 100ms;
}

.radio__buttons li:hover {
	background: var(--background-200);
}

.radio__buttons li:last-child {
	margin-right: 0;
}

.active {
	color: var(--start);
	background: var(--background);
}
