.app {
	width: 100vw;
	height: 100vh;
	color: white;
	user-select: none;
}

.app__layout {
	display: grid;
	grid-template-columns: max-content auto;
	height: 100vh;
}

.app__layout > div {
	padding: 30px 20px;
}

.column__1 {
	background: var(--background);
}

.column__2 {
	background: var(--background);
}

.main__title {
	font-size: 1.7rem;
	margin-bottom: 25px;
	/* margin-left: 28px; */
	width: max-content;
}

.main__controls {
	width: max-content;
}

.small__screen {
	display: none;
}

@media screen and (max-width: 800px) {
	.app__layout {
		grid-template-columns: auto;
		column-gap: -1px;
	}

	.column__1 {
		height: max-content;
		display: flex;
		justify-content: center;
	}

	.column__2 {
		height: 70vh;
		display: flex;
		justify-content: center;
	}

	html {
		font-size: 14px;
	}

	.big__screen {
		display: none;
	}

	.small__screen {
		display: block;
	}
}
